@font-face
{
  font-family: "phont";
  src: url(../fonts/phontOG20.ttf) format("truetype");
}

@keyframes WarpIn
{
  0%    {width: 0%; opacity: 0; height:0;}
  50%   {width: 100%; opacity: 100%; height:initial;}
  75%   {width: 90%;}
  100%  {width: 100%;}
}

@keyframes LogoWarp
{
  0%    {rotate: -45deg; opacity: 0}
  50%   {rotate: 15deg; }
  100%  {rotate:0; opacity: 100%;}
}

@keyframes TaglinePopIn 
{
  0%    {opacity: 0;}
  100%  {opacity: 100%; }
}

@keyframes SelectItem
{
  0%    {border-radius: 0; }
  100%  {border-radius: 25px; }
}

@keyframes ButtonRotate
{
  0%    {rotate: 0deg;}
  25%   {rotate: 5deg;}
  50%   {rotate: 0deg;}
  75%   {rotate: -5deg;}
  100%  {rotate: 0deg;}
}

:root
{
  --purple: #7f4ea7;
}

html, body
{
  background-color: var(--purple);
  font-weight: lighter;
  font-family: phont;
  color: #ffffff;
  width: 100%;
  /*height: 0;*/
  height:auto;
  margin: 0;
  /*overflow: hidden;
  overflow-x: hidden;*/
  text-align: center;
}

body
{
  /*display: flex;
  flex-direction: column;
  flex-flow: column;*/
  min-height: 100%;
}

a
{
  text-decoration: underline;
  font-size: 1.25em;
  cursor: pointer;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
}

a:hover
{
  color: rgb(211, 74, 165);
}

a.selected
{
  background-image: linear-gradient(#7f4ea7,#602e88);
  color: whitesmoke;
  border-radius: inherit;

  animation: SelectItem 0.25s both
}

.linkButton
{
  color:whitesmoke;
  /*animation: ButtonRotate 5s linear infinite;*/
  padding-left: 1vh;
  padding-right: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
}

a.button
{
  color:whitesmoke;
  background-image: linear-gradient(#7f4ea7,#602e88);
  border-radius: 25px;
}

a.button:hover
{
  background-image: linear-gradient(#a773d1,#602e88);
}

.contentContainer
{
  width: 75%;
  max-width: 750px;
  /*max-height: 500px;*/
  margin-left : auto;
  margin-right : auto;
  padding-top:5px;
  /*padding-bottom: 5px;*/
  margin-top:5px;
  text-align: center;
  height: min-content;
  margin-bottom: 20px;
}

.contentBox, .contentBoxDelay
{
  background-color: whitesmoke;
  color: #7f4ea7;
  border-radius: 25px;
  width: auto;
  margin-left : auto;
  margin-right : auto;
  transform-origin: center;
  max-width: 100%;

  animation-name: WarpIn;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.hidden
{
  visibility:collapse;
  padding: 0;
  height: 0;
  position:absolute;
  display:none;
}

.contentBoxDelay
{
  animation-delay: 0.25s;
  padding-top: inherit;
  padding-bottom: inherit;
  height: inherit;
  /*min-height: 90%;*/
}

/*#displayContent
{
  display:flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: visible;
  flex-grow: 1;
  height: inherit;
}*/

#logo
{
  padding-top: 1%;
  padding-bottom: 0.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-width: 150px;
  width: 20%;
  max-width: 200px;
  max-height: 15%;
  animation: LogoWarp 1s both;
}

.logoImage
{
  max-width: 100%;
  width: 300px;
  height: auto;
}

#teamPhoto
{
  max-width: 100%;
  width: 550px;
  border-radius: 20px;
}

#tagline
{
  color: whitesmoke;
  padding : 5px;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
}

#navigation
{
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.aboutText
{
  width:500px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/*.footer
{
  margin-left:auto;
  margin-right: auto;
  display: flex;
  height: min-content;
}*/

#tag1
{
  animation: TaglinePopIn 1s both 0.5s;
}

#tag2
{
  animation: TaglinePopIn 1s both 0.75s;
}

#tag3
{
  animation: TaglinePopIn 1s both 1s;
}

#tag4
{
  animation: TaglinePopIn 1s both 1.25s;
}

#tag5
{
  animation: TaglinePopIn 1s both 1.5s;
}

#tag6
{
  animation: TaglinePopIn 1s both 1.75s;
}

@media screen and (max-width: 800px) {
  .contentContainer
  {
    width: 99%;
  }
}